@{
    ViewData["Title"] = "Редактировать Адрес";
}

<h1>Редактировать Адрес</h1>

<section>
    <div class="main_container">

        <form method="post" asp-controller="Addresses">
            <ul>
                <input class="visually-hidden" name="Id" value="@ViewBag?.Address?.Id" />
                <li>
                    <p>Населенный пункт:</p>
                    <select required id="drop-down" name="LocationId" class="form-select input_field">
                        @{
                            if (ViewBag.Locations != null)
                            {
                                foreach (var item in ViewBag.Locations)
                                {
                                    if(ViewBag.Address.Location?.Id == item.Id)
                                    {
                                        <option selected value="@item.Id">@(item.Prefix + "." + item.Name)</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@(item.Prefix + "." + item.Name)</option>
                                    }
                                }
                            }
                        }
                    </select>
                </li>
                <li>
                    <p>Префикс улицы:</p>
                    <input required class="input_field" name="StreetPrefix" value="@ViewBag.Address.StreetPrefix" />
                </li>
                <li>
                    <p>Название улицы:</p>
                    <input required class="input_field" name="StreetName" value="@ViewBag.Address.StreetName" />
                </li>
                <li>
                    <p>Номер дома:</p>
                    <input required class="input_field" type="number" name="HouseNumber" value="@ViewBag.Address.HouseNumber" />
                </li>
                <li>
                    <p>Литера дома:</p>
                    <input class="input_field" name="HomeLetter" value="@ViewBag.Address.HomeLetter" />
                </li>
                <li>
                    <p>Номер корпуса:</p>
                    <input class="input_field" type="number" name="BuildingNumber" value="@ViewBag.Address.BuildingNumber" />
                </li>
                <li>
                    <p>Номер квартиры:</p>
                    <input class="input_field" type="number" name="ApartmentNumber" value="@ViewBag.Address.ApartmentNumber" />
                </li>
                <li>
                    <p>Номер комнаты:</p>
                    <input class="input_field" type="number" name="RoomNumber" value="@ViewBag.Address.RoomNumber" />
                </li>
                <li>
                    <p>Комментарий:</p>
                    <textarea class="input_field" name="Description">@ViewBag.Address.Description</textarea>
                </li>
            </ul>

            <button class="btn-primary" id="SaveBtn" type="submit" asp-action="Edit">Сохранить</button>
            <button class="btn-outline-warning" id="CanselBtn" type="submit" formnovalidate asp-controller="Home" asp-action="Index">Отменить</button>
        </form>
    </div>
</section>