@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<section>
    <div id="last-container" class="main_container">
        <table id="tableid" class="display">
            <thead>
                <th>Населенный пункт</th>
                <th>Улица</th>
                <th>Здание</th>
                <th>Квартира</th>
                <th>Комментарий</th>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@(
                                    item.LocalityPrefix + "." + item.LocalityName
                                    )</td>
                                <td>
                                    @(
                                    item.StreetPrefix + "." + item.StreetName
                                        )
                                </td>
                                <td>
                                    @(
                                    item.BuildingNumber == 0 
                                    ? 
                                    item.HomeLetter + "." + item.HouseNumber 
                                    : 
                                    item.HomeLetter + "." + item.HouseNumber + "/" + item.BuildingNumber
                                    )
                                </td>
                                <td>
                                    @(
                                    item.ApartmentNumber == 0 
                                    ? 
                                    "Частный дом" 
                                    : 
                                    (item.RoomNumber == 0 ? item.ApartmentNumber : "кв." + item.ApartmentNumber + " ком." + item.RoomNumber)
                                        )
                                </td>
                                <td>
                                    @(
                                    item.Description
                                        )
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</section>

<div class="message_div">
    @if (ViewBag.InfoMessage != null)
    {
        <h2 id="message_title">@ViewBag.InfoMessage.Title</h2>
        <p id="message_text">@ViewBag.InfoMessage.Text</p>
    }
    else
    {
        <h2 id="message_title"></h2>
        <p id="message_text"></p>
    }
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" asp-append-version="true"></script>
<script src="~/js/index.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js" asp-append-version="true"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" asp-append-version="true"></script>